.App {
  min-height: 100%;
}

.Menu-slide-enter {
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -o-transform: translateX(120%);
  transform: translateX(120%);
}

.Menu-slide-enter.Menu-slide-enter-active {
  transition: transform 300ms ease-out;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.Menu-slide-leave {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.Menu-slide-leave.Menu-slide-leave-active {
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -o-transform: translateX(120%);
  transform: translateX(120%);
  transition: transform 300ms ease-in;
}

.Overlay-fade-enter {
  opacity: 0;
}

.Overlay-fade-enter.Overlay-fade-enter-active {
  transition: opacity 300ms ease-out;
  opacity: 1;
}

.Overlay-fade-leave {
  opacity: 1;
}

.Overlay-fade-leave.Overlay-fade-leave-active {
  opacity: 0;  
  transition: opacity 300ms ease-in;
}