.App-logo {
  height: 50px;
  padding: 0 5px;
}
.MenuBtn {
  height: 30px;
  padding: 0 16px;
  cursor: pointer;
}
.Header {
	background-color: #222;
}
.Header h2{
	font-weight: normal;
	margin: 0;
}
.Header .inner {
	margin: 0 auto;
	max-width: 1200px;
	box-sizing: border-box;
	padding: 15px 10px;
	color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
.App-intro {
  font-size: large;
}
@media screen and (max-width: 640px) {
	.App-logo {
	  height: 38px;
	  padding: 0;
	}
	.MenuBtn {
	  height: 20px;
	  padding: 0 18px;
	}
}