.Post{
	padding: 10px;
}

.Post a {
	text-decoration: none;
}

.Post .thumbnail {
	overflow: hidden;
	border-radius: 50%;
	display: inline-block;
	width: 70px;
	height: 70px;
}
.Post .thumbnail img{
	display: block;
	width: 100%;
	height: 100%;
}