.Post{
	padding: 15px 10px;
	border-bottom: 1px solid #EEE;
}

.Post p {
	display: inline-block;
	vertical-align:top;
	margin-left: 30px;
}
.Post a, .Post a:visited {
	color: #333;
	text-decoration: none;
	font-size: 1.2em;
}

.Post .thumbnail {
	overflow: hidden;
	border-radius: 50%;
	display: inline-block;
	width: 70px;
	height: 70px;
}
.Post .thumbnail img{
	display: block;
	width: 100%;
	height: 100%;
}