.PostText {	
	display: inline-block;
	vertical-align:top;
	margin: 0 0 0 30px;
	flex: 2 0px;
}
.PostText p {
	margin: 0;
}
.PostText a {
	text-decoration: none;	
}
.title{
	color: #333;
	font-size: 1.6em;
}
.title:visited {
	color: #888;
}
.PostText .UpVoteArrow{
	height: 13px;
	padding: 0 3px 0 0;
}

@media screen and (max-width: 640px) {
	.PostText {
		margin: 0 0 0 15px;
	}
}