.Subreddit{
	padding: 5px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: top;
	border: solid 1px #FFF;
	margin: 10px auto 5px;
}
.Subreddit p{
	padding: 0;
	margin: 0;
	flex: 2 0px;
}
.Subreddit label{
	width: 25px;
	height: 25px;
	margin: 0 10px 0 0;
	flex: 0 0 25px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}
.Subreddit input{
	height: 0;
    visibility: hidden;
}
.Subreddit .RemoveSubreddit{
	height:15px;
	padding: 5px;
	cursor: pointer;
}